@page "/"
@using System.Text.RegularExpressions
@using ViewModels;

<h1>SureView</h1>


<EditForm id="" Model="SIVM" OnValidSubmit="HandleSubmit">

    <DataAnnotationsValidator />

    <InputText id="userInput" @bind-Value="SIVM.UserInput" class="form-control" type="text" />
    <ValidationMessage For="@(() => SIVM.UserInput)" />
    <br />
    <br />
    <button type="submit" disabled="@(!context.Validate() || !context.IsModified())" class="btn btn-primary">Pocess</button>
    <br />
    <br />
    <span class="smart-badge smart-badge-success">Alarm id:  @SIVM.AlarmId.ToString() </span><br />
    <span class="smart-badge smart-badge-success">Server Number:  @SIVM.ServerNumber.ToString()</span><br />
    <span class="smart-badge smart-badge-danger">@Result</span><br />


    <i class="table-info">
    <pre> 
        Enter the The alarm id and video server number <b>exsactly</b> in one of the following formates:
        ● “The alarm id from video server number X is Y.”
        ● “Alarm id Y has been received from video server number X.”
        Where X (server number) and Y (alarm number) are integer values depending on the alarm
    </pre>
    </i>
</EditForm>

@code {
    private SecurityInfo SIVM = new SecurityInfo();
    private string Result = "";

    public void HandleSubmit()
    {
        int SN  = ExtractServerNumber(SIVM.UserInput);
        int AN = ExtractAlarmNumber(SIVM.UserInput);
        Result = "";
        SIVM.ServerNumber  = SN == -1 ? 0 : SN;
        SIVM.AlarmId = AN == -1 ? 0 : AN;
        if(SN == -1 && AN == -1)
        {
            Result = "Invalid message format";
        }
    }

    public static int ExtractServerNumber(string message)
    {
        Regex regex = new Regex(@"number (\d+)");
        Match match = regex.Match(message);
        if (match.Success)
        {
            return int.Parse(match.Groups[1].Value);
        }
        return -1; // Return -1 if server number is not found
    }

    public static int ExtractAlarmNumber(string message)
    {
        Regex regex = new Regex(@"(?:is|id) (\d+)");
        Match match = regex.Match(message);
        if (match.Success)
        {
            return int.Parse(match.Groups[1].Value);
        }
        return -1; // Return -1 if alarm number is not found
    }

}

